@import '../../variables.scss';

.newsletter {
  background-color: #F2F2F2;

  .wrap {
    max-width: 716px;
    min-height: 146px;
    padding: 24px 0 36px;
  }

  h5 {
    font-size: 1.375rem;
    line-height: 22px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    min-height: 48px;
    background-color: $branco;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    font-size: .75rem;
    line-height: 14px;
    color: #585858;
  }

  label {
    width: 100%;
    max-width: 280px;
    margin-right: 5px;
    position: relative;

    &.error-empty,
    &.error-name,
    &.error-email {
      &:after {
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 5px;
        font-size: .75rem;
        color: #D7182A;
      }

      input {
        border: 1px solid #D7182A; 
      }

      & + button {
        background-color: #333;
      }
    }

    &.error-empty {
      &:after {
        content: "Campo obrigatório"
      }
    }

    &.error-name {
      &:after {
        content: "Preencha com seu nome completo"
      }
    }

    &.error-email {
      &:after {
        content: "Preencha com um e-mail válido"
      }
    }
  }

  button {
    width: 140px;
    min-height: 48px;
    background-color: $preto;
    border-radius: 5px;
    font-size: .875rem;
    font-weight: 700;
    color: $branco;
    border: 0;
    cursor: pointer;
  }

  &-submitted {
    text-align: center;

    strong {
      font-size: .875rem;
      line-height: 14px;
    }

    p {
      font-size: .75rem;
      line-height: 12px;
    }

    button {
      width: 328px;
      margin-top: 15px;
    }
  }
}