@import '../../variables.scss';

#header {
  width: 100%;
  background: $branco;

  .wrap {
    min-height: 80px;
  }

  .grid {
    grid-template-columns: 13.6% 57.5% 12.8%;
    justify-content: space-between;
    align-items: center;
  }
}

.header-searchbar {
  $padding: 5px;

  min-height: 23px;
  position: relative;

  input {
    width: 100%;
    min-height: 23px;
    border: 0;
    border-bottom: 1px solid $preto;
    font-size: .812rem;
    font-weight: 400;
    color: $cinza;
    padding: $padding 50px $padding 0;
    outline: transparent;
  }

  button {
    position: absolute;
    top: 0;
    bottom: $padding;
    right: 0;
    margin: auto;
    background: transparent;
    border: 0;
    cursor: pointer;
  }
}

.header-admin {
  &.flex {
    justify-content: space-between;
    align-items: center;
  }

  a {
    font-size: .812rem;
    font-weight: 400;
    color: $cinza;
  }

  picture {
    margin-right: 10px;
  }
}