@import '../../variables.scss';

#footer {
  background-color: $preto;

  .wrap {
    min-height: 213px;
    padding: 56px 0;
  }

  > .flex {
    justify-content: space-between;
  }
}

.footer-infos {
  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 27px;
    display: inline-block;
    color: $branco;

    &:after {
      content: "";
      width: 45%;
      height: 5px;
      background-color: $branco;
      margin-top: 20px;
      margin-bottom: 20px;
      display: block;
    }
  }

  p, a {
    margin-bottom: 5px;
    font-size: .812rem;
    font-weight: 400;
    color: $branco;
    display: block;
  }
}

.footer-btns {
  &.flex {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }  
}

.footer-btn {
  width: 195px;
  height: 38px;
  background-color: $branco;
  border-radius: 5px;
  font-size: .75rem;
  font-weight: 600;
  color: $preto;
  margin-bottom: 20px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  padding: 0 17px;
}

.footer-madeby {
  &.flex {
    align-items: center;
  }

  a {
    display: block;
    color: $branco;
    margin: 0 10px;
  }
}