@import '../../variables.scss';

#banners {
  position: relative;

  .carousel__slide {
    &--wrap {
      width: 100%;
      height: 100%;
      max-width: 1248px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1;
      display: flex;
      align-items: center;
    }

    &--content {
      width: 100%;
      max-width: 470px;

      h2, h3 {
        color: $branco;
      }

      h2 {
        font-size: 2.81rem;
        font-weight: 900;
        line-height: 45px;
      }

      h3 {
        font-size: 1.875rem;
        font-weight: 700;
        line-height: 40.92px;
        margin-bottom: 10px;
      }
    }
  }

  .carousel__dot-group {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .carousel__dot {
    width: 10px;
    height: 10px;
    background: #BDBDBD;
    border-radius: 50%;
    border: 0;
    margin: 0 5px;

    &--selected {
      background: $vermelho;
    }
  }
}